.container{ width:60%; margin-left: auto; margin-right: auto; margin-top: 1em; margin-bottom: 3em;}
nav {width:50%; margin-bottom: 1em;}
nav a {margin-right: 2em;}

.label {margin-bottom: 0.1em;}
.createproduct{margin-top: 3em;}